SERVICE_ROLE=prod
TG_API=XXXXX
TG_ADMIN_ID=XXXXX
TG_NAME=AsteriosRBbot
DB_HOST=mysql
DB_NAME=asterios
DB_PORT=3306
DB_CHARSET=utf8
DB_USERNAME=root
DB_PASSWORD=password
LOG_PATH=./logs/
DB_NAME_TEST=test
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
SILENT_MODE="@asteriosx7rb,@asteriosX7keyRB"
FILLER_MODE=true
ENABLE_SERVERS="x3,x5,x7"
