#/lib/systemd/system/asterios.service
[Unit]
Description=Asterios RB bot systemd service.
Requires=mysql.service
After=mysql.service

[Service]
Type=simple
ExecStart=/bin/sh /var/www/asterios-bot/resource/systemd.sh
Restart=always

[Install]
WantedBy=multi-user.target